.App {
  background: url(./assets/bg.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)),
    url(./assets/bg.png);
}
